{
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": true,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]
    ]
}
