.signup__button {
    padding-top: 20px;
}

.navbar {
    padding: 4rem 1rem;
    width: 100%;
}

.navbar, .h1 {
    color: white;
}

.form-group {
    margin-top: 20px;
}

.form__email {
    padding-top: 20px;
}

h2 {
    margin-top: 30px;
    color: #007bff;
}

.login__button {
    padding-top: 20px;
}
